<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FT.DB.Properties.Settings.ftdbConnectionString" connectionString="Data Source=woods\sqlexpress;Initial Catalog=ftdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>