<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="ScrapeDB.Properties.Settings.ftscrapeConnectionString1"
				 connectionString=""
				 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
