<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="FT.DB.Properties.Settings.ftdbConnectionString" 
				 connectionString=""
			providerName="System.Data.SqlClient" />
		<add name="FolketsTingEntities"
		connectionString=""
		providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
	</system.serviceModel>
</configuration>